@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
body, html {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Noto Sans TC", "微軟正黑體", Arial, serif;
  font-weight: 400;
}

input:focus {
  outline: none;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #000000;
  z-index: 20000;
  text-align: center;
}
#loading .content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
#loading .load-text {
  margin-bottom: 33px;
}
@media (max-width: 768px) {
  #loading .load-text {
    margin-bottom: 15px;
  }
}
#loading .load-bar {
  position: absolute;
  top: 50px;
  left: 0;
  width: 0%;
  height: 56px;
  background-color: #fff;
}
@media (max-width: 768px) {
  #loading .load-bar {
    height: 30px;
  }
}
#loading .dyson {
  position: absolute;
  top: -26px;
  right: -283px;
}
@media (max-width: 768px) {
  #loading .dyson {
    height: 58px;
    top: -14px;
    right: -153px;
  }
}

#wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1365px;
  margin: 0 auto;
}

section#hero {
  background-color: #0f0f0f;
  padding-bottom: 75px;
}
@media (max-width: 1200px) {
  section#hero {
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  section#hero {
    padding-bottom: 50px;
  }
}
@media (max-width: 620px) {
  section#hero {
    padding-bottom: 30px;
  }
}
section#hero .container img {
  max-width: 100%;
}

.slogan {
  position: relative;
}

.event-time {
  position: absolute;
  top: 18%;
  right: 11%;
  width: 16%;
}
@media (max-width: 768px) {
  .event-time {
    right: 9%;
  }
}

.slogan-count {
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .slogan-count {
    margin-bottom: 20px;
  }
}
@media (max-width: 620px) {
  .slogan-count {
    margin-bottom: 0;
  }
}

.count-numberbox {
  position: absolute;
  top: 12%;
  left: 13%;
  right: 49%;
  bottom: 21%;
  color: white;
  font-size: 78px;
  line-height: 1;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 1360px) {
  .count-numberbox {
    font-size: 70px;
    margin-top: -5px;
  }
}
@media (max-width: 1200px) {
  .count-numberbox {
    font-size: 5.1612903226vw;
  }
}
@media (max-width: 620px) {
  .count-numberbox {
    top: 25%;
    left: 17%;
    right: 47%;
    bottom: unset;
  }
}

.desktop {
  display: block;
}
@media (max-width: 620px) {
  .desktop {
    display: none !important;
  }
}

.mobile {
  display: none;
}
@media (max-width: 620px) {
  .mobile {
    display: block !important;
  }
}

.dustbox {
  position: absolute;
  width: 100%;
  height: 364px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow: hidden;
}
@media (max-width: 1200px) {
  .dustbox {
    padding-top: 25.4%;
    height: unset;
  }
}
.dustbox .dust-content {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 20;
}
.dustbox .dust {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1920px;
  background: url(../images/kv-dust.png) no-repeat 0 0;
  background-size: 1920px auto;
}
@media (max-width: 620px) {
  .dustbox .dust {
    background: url(../images/kv-dust.png) no-repeat 0 0;
    background-size: 1400px auto;
    width: 1400px;
  }
}
.dustbox .dyson {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  z-index: 30;
}
.dustbox .dyson img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.kv-event {
  position: relative;
  width: 561px;
  opacity: 0;
}
@media (max-width: 1200px) {
  .kv-event {
    width: 41.25%;
  }
}
@media (max-width: 620px) {
  .kv-event {
    width: 48%;
  }
}
.kv-event .product {
  position: relative;
  width: 100%;
  height: auto;
}
.kv-event .event {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video {
  padding: 120px 60px;
}
@media (max-width: 768px) {
  #video {
    padding: 0;
  }
}
#video .cover-img {
  display: block;
}
#video .cover-img img {
  max-width: 100%;
}

.video-container {
  position: relative;
  padding-top: 65.5%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.remodal {
  background: 0;
  padding: 20px;
}

.remodal-close {
  left: unset;
  background-color: #fff;
  top: -30px;
  right: 20px;
  width: 50px;
  height: 50px;
}
.remodal-close:before {
  width: 100%;
  font-size: 25px;
  line-height: 50px;
}

.remodal-overlay {
  background: rgba(0, 0, 0, 0.9);
}

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 1000px;
  }
}
.sectionbox {
  position: relative;
}
.sectionbox img.bg {
  width: 100%;
  display: block;
}
.sectionbox .text img {
  max-width: 100%;
}
.sectionbox .container {
  max-width: 1360px;
  padding: 0 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
.sectionbox .container.absolute {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  z-index: 20;
}
@media (max-width: 768px) {
  .sectionbox .bg img {
    display: block;
    max-width: 100%;
  }
}
.sectionbox.enhance .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionbox.enhance .container.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#store {
  padding-bottom: 48px;
}
#store .title {
  background-color: #000;
  text-align: center;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  #store .title {
    margin-bottom: 0;
  }
}
#store .container {
  text-align: center;
}
#store .container img {
  max-width: 100%;
}

#dyson-witness {
  background-color: #ececec;
  padding-bottom: 48px;
  overflow: hidden;
}
#dyson-witness .title {
  text-align: center;
  margin-bottom: 60px;
}
#dyson-witness .title img {
  max-width: 100%;
}
#dyson-witness .photo {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  left: 0;
  width: 20%;
  max-width: 165px;
  z-index: 200;
}
@media (max-width: 768px) {
  #dyson-witness .photo {
    width: 100px;
    left: 20px;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}
#dyson-witness .video-ytr-detail {
  position: relative;
  margin-left: 60px;
  z-index: 20;
}
@media (max-width: 1200px) {
  #dyson-witness .video-ytr-detail {
    margin-left: 0;
  }
}
#dyson-witness .youtube {
  position: relative;
  padding-top: 56.5%;
  background-color: #000;
  z-index: 1;
}
#dyson-witness .youtube iframe, #dyson-witness .youtube img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#dyson-witness .user-name {
  position: relative;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  padding-top: 50px;
}
#dyson-witness .user-name span {
  position: relative;
  -webkit-box-flex: 160px;
      -ms-flex: 160px;
          flex: 160px;
  max-width: 160px;
  color: #1a1a1a;
  position: relative;
  text-align: center;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  #dyson-witness .user-name span {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    text-align: left;
    padding-right: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: unset;
  }
}
#dyson-witness .user-name span b {
  display: inline-block;
  font-weight: normal;
  font-size: 35px;
  line-height: 1;
}
@media (max-width: 1500px) {
  #dyson-witness .user-name span b {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  #dyson-witness .user-name span b {
    position: relative;
  }
}
#dyson-witness .user-name span b::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 40px;
  background-color: #a2a2a2;
}
@media (max-width: 1500px) {
  #dyson-witness .user-name span b::after {
    height: 24px;
    -webkit-transform: none;
            transform: none;
    top: 5px;
  }
}
@media (max-width: 768px) {
  #dyson-witness .user-name span b::after {
    height: 1px;
    width: 100%;
    top: unset;
    right: unset;
    left: 0;
    -webkit-transform: none;
            transform: none;
    bottom: -15px;
  }
}
#dyson-witness .user-name p {
  -webkit-box-flex: calc(100% - 160px);
      -ms-flex: calc(100% - 160px);
          flex: calc(100% - 160px);
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555555;
  font-size: 23px;
  line-height: 40px;
  margin: 0;
}
@media (max-width: 1500px) {
  #dyson-witness .user-name p {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  #dyson-witness .user-name p {
    padding-left: 0;
  }
}

.swiper-button-next {
  width: 63px;
  height: 63px;
  background: url(../images/btn-next.png) no-repeat 0 0;
  cursor: pointer;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media (max-width: 768px) {
  .swiper-button-next {
    width: 40px;
    height: 40px;
    background: url(../images/btn-next.png) no-repeat 0 0;
    background-size: contain;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
}
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev {
  width: 63px;
  height: 63px;
  background: url(../images/btn-prev.png) no-repeat 0 0;
  cursor: pointer;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media (max-width: 768px) {
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: url(../images/btn-prev.png) no-repeat 0 0;
    background-size: contain;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
}
.swiper-button-prev:after {
  display: none;
}

.video-slide {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: -webkit-grab;
  cursor: grab;
}
@media (max-width: 1360px) {
  .video-slide {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  .video-slide {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.swiper-slide .video-slide {
  margin-right: 0;
}

.swiper-slide.swiper-slide-next .video-slide {
  margin-left: 0;
}

.swiper-slide.swiper-slide-active .video-slide {
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #cacaca;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #404040;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-slide {
  opacity: 0.1;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.swiper-slide.swiper-slide-active {
  opacity: 1;
  pointer-events: unset;
}

#event-rule {
  padding-bottom: 50px;
}
#event-rule .container {
  max-width: 1190px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  #event-rule .container {
    padding: 0 20px;
  }
}
#event-rule .title {
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  #event-rule .title {
    margin-bottom: 0;
  }
}
#event-rule .title img {
  max-width: 100%;
}
#event-rule ol {
  color: #1c1c1b;
  font-size: 25px;
  line-height: 1.5;
  word-break: break-all;
}
@media (max-width: 768px) {
  #event-rule ol {
    font-size: 20px;
  }
}
#event-rule ol li {
  margin-bottom: 10px;
}
#event-rule ol a {
  color: #0563c1;
}

.video-list {
  position: relative;
  padding-bottom: 100px;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
}

.swiper-button-next {
  right: 18%;
}
@media (max-width: 1500px) {
  .swiper-button-next {
    right: 10%;
  }
}
@media (max-width: 1360px) {
  .swiper-button-next {
    right: 5%;
  }
}

.swiper-button-prev {
  left: 18%;
}
@media (max-width: 1500px) {
  .swiper-button-prev {
    left: 10%;
  }
}
@media (max-width: 1360px) {
  .swiper-button-prev {
    left: 5%;
  }
}

#dyson-new .text {
  width: 45.5%;
  max-width: 620px;
}

#store .title img {
  display: block;
  width: 41%;
  max-width: 560px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #store .title img {
    width: 70%;
    padding: 8px 0;
  }
}

.logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  max-width: 880px;
  width: 64%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .logo-list {
    width: 100%;
    overflow: hidden;
  }
}
.logo-list a {
  -webkit-box-flex: 33.3%;
      -ms-flex: 33.3%;
          flex: 33.3%;
  display: block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .logo-list a {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}
.logo-list a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.logo-list a:last-child {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.enhance-1 .text {
  width: 55.8%;
  max-width: 760px;
}

.enhance-2 .text {
  width: 55.8%;
  max-width: 760px;
  margin-top: -12%;
}

.enhance-3 .text {
  width: 55.8%;
  max-width: 760px;
  margin-top: -12%;
}

.enhance-4 .text {
  width: 55.8%;
  max-width: 760px;
  margin-top: -5%;
}

.enhance-5 .text {
  width: 55.8%;
  max-width: 760px;
}

.enhance-6 .text {
  width: 55.8%;
  max-width: 760px;
  margin-top: -12%;
}

#event-rule {
  padding-top: 50px;
}
@media (max-width: 768px) {
  #event-rule {
    padding-top: 20px;
  }
}
#event-rule .title {
  width: 100%;
}

#dyson-detail .text img {
  max-width: 100%;
}