@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap')

body,html
    margin: 0
    padding: 0
    font-family: 'Noto Sans TC', sans-serif
    font-weight: 400

@import '_mixin'

body
    font-family: 'Noto Sans TC', "微軟正黑體", Arial,serif
    font-weight: 400

input:focus
    outline: none


#loading
    position: fixed
    top: 0
    left: 0
    width: 100%
    bottom: 0
    background-color: #000000
    z-index: 20000
    text-align: center
    // display: none
    
    .content
        position: absolute
        top: 50%
        left: 0
        width: 100%
        transform: translateY(-100%)

    .load-text
        margin-bottom: 33px

        +maxPad
            margin-bottom: 15px

    .load-bar
        position: absolute
        top: 50px
        left: 0
        width: 0%
        height: 56px
        background-color: #fff
        
        +maxPad
            height: 30px

    .dyson
        position: absolute
        top: -26px
        right: -283px

        +maxPad
            height: 58px
            top: -14px
            right: -153px

#wrapper
    max-width: 1920px
    margin: 0 auto

.container
    max-width: 1365px
    margin: 0 auto


section#hero
    background-color: #0f0f0f
    padding-bottom: 75px

    +maxDesktop
        padding-bottom: 60px

    +maxPad
        padding-bottom: 50px

    +phone
        padding-bottom: 30px

    .container img
        max-width: 100%

.slogan
    position: relative

.event-time
    position: absolute
    top: 18%
    right: 11%
    width: 16%

    +maxPad
        right: 9%

.slogan-count
    position: relative
    margin-bottom: 30px

    +maxPad
        margin-bottom: 20px

    +phone
        margin-bottom: 0

.count-numberbox
    position: absolute
    top: 12%
    left: 13%
    right: 49%
    bottom: 21%
    color: white
    font-size: 78px
    line-height: 1
    font-weight: bold
    display: flex
    align-items: center
    justify-content: end

    +maxDesktop_md
        font-size: 70px
        margin-top: -5px

    +maxDesktop
        font-size: vw(32px,620px)

    +phone
        top: 25%
        left: 17%
        right: 47%
        bottom: unset


.desktop
    display: block

    +phone
        display: none !important

.mobile
    display: none

    +phone
        display: block !important

.dustbox
    position: absolute
    width: 100%
    height: 364px
    transform: translateY(-100%)
    overflow: hidden

    +maxDesktop
        padding-top: 25.4%
        height: unset
    

    // +maxDesktop
    //     height: 280px

    // +maxSmllDesktop
    //     height: 230px

    // +maxPad
    //     height: 250px

    // +phone
    //     height: 150px

    // +iphone
    //     height: 150px
    .dust-content
        position: absolute
        top: 0
        left: 50%
        right: 0
        bottom: 0
        overflow: hidden
        z-index: 20

    .dust
        position: absolute
        top: 0
        right: 0
        height: 100%
        width: 1920px
        background: url(../images/kv-dust.png) no-repeat 0 0
        background-size: 1920px auto

        +phone
            background: url(../images/kv-dust.png) no-repeat 0 0
            background-size: 1400px auto
            width: 1400px

    .dyson
        position: absolute
        top: 0
        left: 50%
        width: auto
        height: 100%
        z-index: 30

        img
            width: auto
            height: 100%
            object-fit: contain


.kv-event
    position: relative
    width: 561px
    opacity: 0

    +maxDesktop
        width: 41.25%

    +phone
        width: 48%

    .product
        position: relative
        width: 100%
        height: auto

    .event
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        

#video
    padding: 120px 60px

    +maxPad
        padding: 0
        
    .cover-img
        display: block
        img
            max-width: 100%

.video-container
    position: relative
    padding-top: 65.5%
    iframe
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0


.remodal
    background: 0
    padding: 20px

.remodal-close
    left: unset
    background-color: #fff
    top: -30px
    right: 20px
    width: 50px
    height: 50px
    &:before
        width: 100%
        font-size: 25px
        line-height: 50px    

.remodal-overlay
    background: rgba(black,.9)
@media only screen and (min-width: 641px)
  .remodal
    max-width: 1000px

.sectionbox
    position: relative
    img.bg
        width: 100%
        display: block

    .text img
        max-width: 100%

    .container
        max-width: 1360px
        padding: 0 2%
        box-sizing: border-box
        margin: 0 auto

    .container.absolute
        position: absolute
        top: 0
        left: 50%
        width: 100%
        transform: translateX(-50%)
        bottom: 0
        z-index: 20

    .bg
        +maxPad
            img
                display: block
                max-width: 100%

    &.enhance
        .container
            display: flex
            align-items: center

            &.right
                justify-content: end

#store
    padding-bottom: 48px
    .title
        background-color: #000
        text-align: center
        margin-bottom: 45px

        +maxPad
            margin-bottom: 0

    .container
        text-align: center

        img
            max-width: 100%


#dyson-witness
    background-color: #ececec
    padding-bottom: 48px
    overflow: hidden

    .title
        text-align: center
        margin-bottom: 60px

        img
            max-width: 100%

    .photo
        position: absolute
        top: 0
        transform: translateY(-75%)
        left: 0
        width: 20%
        max-width: 165px
        z-index: 200

        +maxPad
            width: 100px
            left: 20px
            transform: translateY(-60%)

    .video-ytr-detail
        position: relative
        margin-left: 60px
        z-index: 20

        +maxDesktop
            margin-left: 0

    .youtube
        position: relative
        padding-top: 56.5%
        background-color: #000
        z-index: 1

        iframe,img
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            width: 100%
            height: 100%
            
            

    .user-name
        position: relative
        z-index: 200
        display: flex
        flex-flow: wrap row
        padding-top: 50px
        span
            position: relative
            flex: 160px
            max-width: 160px
            color: #1a1a1a
            position: relative
            text-align: center
            padding-right: 10px
            box-sizing: border-box

            +maxPad
                flex: 100%
                max-width: 100%
                text-align: left
                padding-right: 0
                padding-bottom: 10px
                margin-bottom: 10px
                position: unset
            b
                display: inline-block
                font-weight: normal
                font-size: 35px
                line-height: 1

                +maxDesktop_xl
                    font-size: 24px

                +maxPad
                    position: relative

                &::after
                    content: ""
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    right: 0
                    width: 1px
                    height: 40px
                    background-color: #a2a2a2

                    +maxDesktop_xl
                        height: 24px
                        transform: none
                        top: 5px

                    +maxPad
                        height: 1px
                        width: 100%
                        top: unset
                        right: unset
                        left: 0
                        transform: none
                        bottom: -15px

        p
            flex: calc(100% - 160px)
            padding-left: 15px
            box-sizing: border-box
            color: #555555
            font-size: 23px
            line-height: 40px
            margin: 0

            +maxDesktop_xl
                font-size: 20px
                line-height: 1.5
            
            +maxPad
                padding-left: 0


.swiper-button-next
    width: 63px
    height: 63px
    background: url(../images/btn-next.png) no-repeat 0 0
    cursor: pointer
    transform: translateY(-100%)

    +maxPad
        width: 40px
        height: 40px
        background: url(../images/btn-next.png) no-repeat 0 0
        background-size: contain
        transform: translateY(-250%)

    &:after
        display: none

.swiper-button-prev
    width: 63px
    height: 63px
    background: url(../images/btn-prev.png) no-repeat 0 0
    cursor: pointer
    transform: translateY(-100%)

    +maxPad
        width: 40px
        height: 40px
        background: url(../images/btn-prev.png) no-repeat 0 0
        background-size: contain
        transform: translateY(-250%)

    &:after
        display: none

.video-slide
    max-width: 1000px
    margin: 0 auto
    padding: 0 30px
    box-sizing: border-box
    cursor: grab

    +maxDesktop_md
        padding: 0 20px
        box-sizing: border-box
        
    +maxPad
        padding: 0 10px
        box-sizing: border-box

.swiper-slide .video-slide
    margin-right: 0

.swiper-slide.swiper-slide-next .video-slide
    margin-left: 0

.swiper-slide.swiper-slide-active .video-slide
    margin: 0 auto

.swiper-pagination-bullet
    width: 10px
    height: 10px
    background-color: #cacaca
    opacity: 1
    
    &.swiper-pagination-bullet-active
        width: 16px
        height: 16px
        background-color: #404040
        transform: translateY(3px)
        
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 8px


.swiper-slide
    opacity: .1
    pointer-events: none
    transition: opacity .5s ease
    &.swiper-slide-active
        opacity: 1
        pointer-events: unset

#event-rule
    padding-bottom: 50px

    .container
        max-width: 1190px
        padding: 0 30px
        box-sizing: border-box

        +maxPad
            padding: 0 20px

    .title
        text-align: center
        margin-bottom: 48px

        +maxPad
            margin-bottom: 0

        img
            max-width: 100%

    ol
        color: #1c1c1b
        font-size: 25px
        line-height: 1.5
        word-break: break-all
        +maxPad
            font-size: 20px

        li
            margin-bottom: 10px

        a
            color: #0563c1

.video-list
    position: relative
    padding-bottom: 100px
    
.swiper-pagination
    position: absolute
    bottom: 20px

.swiper-button-next
    right: 18%
    +maxDesktop_xl
        right: 10%
    +maxDesktop_md
        right: 5%

.swiper-button-prev
    left: 18%
    +maxDesktop_xl
        left: 10%
    +maxDesktop_md
        left: 5%

#dyson-new
    .text
        width: 45.5%
        max-width: 620px

#store
    .title img
        display: block
        width: 41%
        max-width: 560px
        margin: 0 auto

        +maxPad
            width: 70%
            padding: 8px 0

.logo-list
    display: flex
    flex-flow: wrap
    max-width: 880px
    width: 64%
    margin: 0 auto

    +maxPad
        width: 100%
        overflow: hidden

    a
        flex: 33.3%
        display: block
        transition: all .4s ease

        +maxPad
            flex: 50%

        &:hover
            transform: scale(1.05)

        &:last-child
            flex: 100%


.enhance-1 .text
    width: 55.8%
    max-width: 760px

.enhance-2 .text
    width: 55.8%
    max-width: 760px
    margin-top: -12%

.enhance-3 .text
    width: 55.8%
    max-width: 760px
    margin-top: -12%

.enhance-4 .text
    width: 55.8%
    max-width: 760px
    margin-top: -5%

.enhance-5 .text
    width: 55.8%
    max-width: 760px

.enhance-6 .text
    width: 55.8%
    max-width: 760px
    margin-top: -12%


#event-rule
    padding-top: 50px
    +maxPad
        padding-top: 20px
    .title
        width: 100%

#dyson-detail
    .text
        img
            max-width: 100%